In [1]:
import requests
import pandas as pd
import json
import sqlalchemy

##### change game_week here

In [2]:
gw = 5

### Mini League Data

In [3]:
mini_league_url = 'https://fantasy.premierleague.com/api/leagues-classic/17177/standings/'

res = requests.get(mini_league_url)

mini_data = json.loads(res.text)

mini_league = pd.DataFrame.from_dict(mini_data['standings']['results'])

In [4]:
mini_league['game_week'] = gw

In [5]:
mini_league.head()

,id,event_total,player_name,rank,last_rank,rank_sort,total,entry,entry_name,game_week
0,402247,68,suyash singh,1,1,1,308,58167,Aubamacare,5
1,7545404,80,Abeer Meherish,2,3,2,293,1390661,Sexual11,5
2,402243,50,Vibhor Mehta,3,2,3,275,86437,Moonshot,5
3,793724,71,Madhav Bhatiya,4,4,4,265,167619,GOD XI,5
4,35430203,73,Hridaye Nagpal,5,5,5,227,4911947,Centurions,5

### Player Data

In [6]:
# Make a request to GET the data from the FPL API
url = 'https://fantasy.premierleague.com/api/bootstrap-static/'
response = requests.get(url)

# Convert JSON data to a python object
data = json.loads(response.text)

# Create pandas DataFrame from JSON player data
playerData = pd.DataFrame.from_dict(data['elements'])

In [7]:
pd.set_option('display.max_columns', None)

In [8]:
playerData.shape

(588, 67)

In [9]:
playerData.head()

,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,element_type,ep_next,ep_this,event_points,first_name,form,id,in_dreamteam,news,news_added,now_cost,photo,points_per_game,second_name,selected_by_percent,special,squad_number,status,team,team_code,total_points,transfers_in,transfers_in_event,transfers_out,transfers_out_event,value_form,value_season,web_name,minutes,goals_scored,assists,clean_sheets,goals_conceded,own_goals,penalties_saved,penalties_missed,yellow_cards,red_cards,saves,bonus,bps,influence,creativity,threat,ict_index,influence_rank,influence_rank_type,creativity_rank,creativity_rank_type,threat_rank,threat_rank_type,ict_index_rank,ict_index_rank_type,corners_and_indirect_freekicks_order,corners_and_indirect_freekicks_text,direct_freekicks_order,direct_freekicks_text,penalties_order,penalties_text
0,NaN,NaN,37605,0,0,-2,2,0,3,0.0,-0.5,0,Mesut,0.0,1,False,,None,68,37605.jpg,0.0,Özil,0.7,False,None,a,1,3,0,3156,223,42097,1337,0.0,0.0,Özil,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,585,237,585,236,585,236,586,237,NaN,,NaN,,NaN,
1,100.0,100.0,39476,0,0,-1,1,0,2,0.0,-0.5,0,Sokratis,0.0,2,False,,2020-09-11T11:00:08.600094Z,49,39476.jpg,0.0,Papastathopoulos,0.1,False,None,a,1,3,0,10152,157,16765,208,0.0,0.0,Sokratis,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,515,197,505,197,485,188,518,197,NaN,,NaN,,NaN,
2,100.0,100.0,41270,0,0,0,0,0,2,1.7,1.2,2,David,1.7,3,False,,2020-09-10T14:30:11.632386Z,55,41270.jpg,1.5,Luiz Moreira Marinho,1.1,False,None,a,1,3,6,23931,3543,45368,2368,0.3,1.1,David Luiz,271,0,0,0,5,0,0,0,0,0,0,0,39,57.8,7.3,19.0,8.4,154,61,263,81,198,57,217,70,NaN,,4.0,,NaN,
3,100.0,75.0,54694,0,0,-2,2,0,3,2.0,1.1,2,Pierre-Emerick,2.0,4,False,,2020-10-08T09:00:12.305506Z,118,54694.jpg,3.6,Aubameyang,17.8,False,None,a,1,3,18,340948,7335,2225890,145174,0.2,1.5,Aubameyang,450,1,1,1,6,0,0,0,1,0,0,0,61,86.8,87.1,105.0,27.9,87,30,45,34,38,19,43,23,NaN,,6.0,,1.0,
4,100.0,100.0,58822,0,0,-2,2,0,2,0.0,-0.5,0,Cédric,0.0,5,False,,2020-09-23T09:00:14.881983Z,48,58822.jpg,0.0,Soares,0.2,False,None,a,1,3,0,2245,159,28095,644,0.0,0.0,Cédric,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,505,193,492,193,466,182,508,193,NaN,,NaN,,NaN,

In [10]:
playerData[playerData['web_name'] == 'Salah']

,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,element_type,ep_next,ep_this,event_points,first_name,form,id,in_dreamteam,news,news_added,now_cost,photo,points_per_game,second_name,selected_by_percent,special,squad_number,status,team,team_code,total_points,transfers_in,transfers_in_event,transfers_out,transfers_out_event,value_form,value_season,web_name,minutes,goals_scored,assists,clean_sheets,goals_conceded,own_goals,penalties_saved,penalties_missed,yellow_cards,red_cards,saves,bonus,bps,influence,creativity,threat,ict_index,influence_rank,influence_rank_type,creativity_rank,creativity_rank_type,threat_rank,threat_rank_type,ict_index_rank,ict_index_rank_type,corners_and_indirect_freekicks_order,corners_and_indirect_freekicks_text,direct_freekicks_order,direct_freekicks_text,penalties_order,penalties_text
311,NaN,NaN,118748,0,0,3,-3,1,3,8.0,7.5,7,Mohamed,7.0,254,True,,None,123,118748.jpg,9.6,Salah,47.0,False,None,a,11,14,48,1377441,98053,443958,27357,0.6,3.9,Salah,450,6,1,1,13,0,0,0,0,0,0,4,179,266.2,200.9,396.0,86.3,3,2,4,4,1,1,1,1,6.0,,2.0,,2.0,

In [11]:
cleaned_player_data = playerData[['id', 'first_name', 'web_name', 'element_type', 'total_points', 'now_cost', 'event_points', 'goals_scored', 'assists', 'clean_sheets', ]]

In [12]:
cleaned_player_data = cleaned_player_data.rename({'element_type': 'position', 'web_name': 'last_name'}, axis=1)
cleaned_player_data.head()

,id,first_name,last_name,position,total_points,now_cost,event_points,goals_scored,assists,clean_sheets
0,1,Mesut,Özil,3,0,68,0,0,0,0
1,2,Sokratis,Sokratis,2,0,49,0,0,0,0
2,3,David,David Luiz,2,6,55,2,0,0,0
3,4,Pierre-Emerick,Aubameyang,3,18,118,2,1,1,1
4,5,Cédric,Cédric,2,0,48,0,0,0,0

In [13]:
cleaned_player_data['position'].mask(cleaned_player_data['position'] == 1, 'GK', inplace=True)
cleaned_player_data['position'].mask(cleaned_player_data['position'] == 2, 'DEF', inplace=True)
cleaned_player_data['position'].mask(cleaned_player_data['position'] == 3, 'MID', inplace=True)
cleaned_player_data['position'].mask(cleaned_player_data['position'] == 4, 'FWD', inplace=True)

In [14]:
cleaned_player_data['now_cost'] = cleaned_player_data['now_cost'].astype(float)
cleaned_player_data['now_cost'] = cleaned_player_data['now_cost'] / 10

In [15]:
cleaned_player_data['event_points'] = cleaned_player_data['event_points'].astype(int)

In [16]:
cleaned_player_data.head()

,id,first_name,last_name,position,total_points,now_cost,event_points,goals_scored,assists,clean_sheets
0,1,Mesut,Özil,MID,0,6.8,0,0,0,0
1,2,Sokratis,Sokratis,DEF,0,4.9,0,0,0,0
2,3,David,David Luiz,DEF,6,5.5,2,0,0,0
3,4,Pierre-Emerick,Aubameyang,MID,18,11.8,2,1,1,1
4,5,Cédric,Cédric,DEF,0,4.8,0,0,0,0

In [17]:
cleaned_player_data['game_week'] = gw

In [18]:
cleaned_player_data.head()

,id,first_name,last_name,position,total_points,now_cost,event_points,goals_scored,assists,clean_sheets,game_week
0,1,Mesut,Özil,MID,0,6.8,0,0,0,0,5
1,2,Sokratis,Sokratis,DEF,0,4.9,0,0,0,0,5
2,3,David,David Luiz,DEF,6,5.5,2,0,0,0,5
3,4,Pierre-Emerick,Aubameyang,MID,18,11.8,2,1,1,1,5
4,5,Cédric,Cédric,DEF,0,4.8,0,0,0,0,5

### Export df to postgres

In [22]:
engine = sqlalchemy.create_engine('postgresql://postgres:@localhost/fpl')
con = engine.connect()
print(engine.table_names())

['player_data', 'mini_league']

In [23]:
table_name = 'player_data'
cleaned_player_data.to_sql(table_name, con, if_exists='append', index=False)

print(engine.table_names())

['player_data', 'mini_league']

In [24]:
table_name_2 = 'mini_league'
mini_league.to_sql(table_name_2, con, if_exists='append', index=False)

print(engine.table_names())

con.close()

['player_data', 'mini_league']